In [2]:
import os
import ee
import geemap

In [3]:
# Trigger the authentication flow.
ee.Authenticate()

# Initialize the library.
ee.Initialize()

Enter verification code: 4/1AX4XfWh5AZkqbcg8w0w50dNI69PnFoJZREOTwA4gXSE_e9haHmdeLGP1dT0

Successfully saved authorization token.

## Main machine learning models used in Earth Observation
- Supervised learning;
- Unsupervised learning.
We will only focus on supervised learning here.

## [Supervised learning](http://localhost:8888/notebooks/Day%202/geemap-master/examples/notebooks/31_unsupervised_classification.ipynb)
The steps involved in the process of image classification with machine learning include:
- Define the image to classifiy;
- Collect the training data;
- Instantiate a classifier;
- Train a classifier;
- Classify;
- Estimate classification error with independent validation data.

The classifier available for supervised machine learning in google earth engine include:
![title](https://i.imgur.com/vROsEiq.png)

### I.1. Define the image to classifiy

In [6]:
# Upload the shapefile of the ROI
Map = geemap.Map(center=(-33.918861, 18.423300))
sa22    = geemap.shp_to_ee('/Users/noe/Desktop/SA4/ADM4_PCODE_ZA1011001.shp')
Map.addLayer(sa22, {}, 'ROI')
Map

Map(center=[-33.918861, 18.4233], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(…

In [7]:
# Add landsat8 TOA to the ROI
dataset = ee.ImageCollection("LANDSAT/LC08/C01/T1_TOA").filterBounds(sa22).filterDate('2021-01-01','2021-12-31').filterMetadata('CLOUD_COVER','less_than',70)
rgbVis  = {
  'min': 0.0,
  'max': 0.3,
  'gamma':1.4,
  'bands': ['B4_median', 'B3_median', 'B2_median'],
}
# ///////////////// Use Median Band in parameters///////////////////////

median = dataset.reduce(ee.Reducer.median())

# ////////////////Mosaic these two image collections///////////////////

mosaic_1 = ee.ImageCollection.fromImages([median]).mosaic()

# ////////////////////////Clip by assets or roi////////////////////////

landsat_8_2021 = mosaic_1.clip(sa22)

# /////////////// Display the clipped ImageCollection/////////////////

Map.addLayer(landsat_8_2021, rgbVis, 'landsat_roi')
Map

Map(bottom=155756.0, center=[-31.728167146023935, 18.581998605017667], controls=(WidgetControl(options=['posit…

In [8]:
# Add landsat8 TOA to the ROI
dataset = ee.ImageCollection("LANDSAT/LC08/C01/T1_TOA").filterBounds(sa22).filterDate('2020-01-01','2020-12-31').filterMetadata('CLOUD_COVER','less_than',70)
rgbVis  = {
  'min': 0.0,
  'max': 0.3,
  'gamma':1.4,
  'bands': ['B4_median', 'B3_median', 'B2_median'],
}
# ///////////////// Use Median Band in parameters///////////////////////

median = dataset.reduce(ee.Reducer.median())

# ////////////////Mosaic these two image collections///////////////////

mosaic_1 = ee.ImageCollection.fromImages([median]).mosaic()

# ////////////////////////Clip by assets or roi////////////////////////

landsat_8_2020 = mosaic_1.clip(sa22)

# /////////////// Display the clipped ImageCollection/////////////////

Map.addLayer(landsat_8_2020, rgbVis, 'landsat_roi_2020')
Map

Map(bottom=311089.0, center=[-31.656303848751083, 18.47831726074219], controls=(WidgetControl(options=['positi…

### I.2. Collect the training data
The collection of training data can be done in two ways:
 - Manual collection;
 - Automatic collection.
    
The manual collection is performed in the cases where there is no data available. The automatic selection uses existing classification map, to generate the training data.

In [228]:
# Manual collection

In [9]:
# Automatic collection
# Load the classified data that will help to collect the data
### Legend and colors dictionary
# dico = {"names": ["Contiguous (indigenous) Forest (combined very high, high, medium)", "Contiguous Low Forest & Thicket (combined classes)", "Dense Forest & Woodland (35 - 75% cc)", "Open Woodland (10 - 35% cc)", "Contiguous & Dense Planted Forest (combined classes)", "Open & Sparse Planted Forest", "Temporary Unplanted Forest", "Low Shrubland (other regions)", "Low Shrubland (Fynbos)", "Low Shrubland (Succulent Karoo)", "Low Shrubland (Nama Karoo)", "Sparsely Wooded Grassland (5 - 10% cc)", "Natural Grassland", "Natural Rivers", "Natural Estuaries & Lagoons", "Natural Ocean, Coastal", "Natural Lakes", "Natural Pans (flooded @ obsv time)", "Artificial Dams (incl. canals)", "Artificial Sewage Ponds", "Artificial Flooded Mine Pits", "Herbaceous Wetlands (currently mapped)", "Herbaceous Wetlands (previous mapped extent)", "Mangrove Wetlands", "Natural Rock Surfaces", "Dry Pans", "Eroded Lands", "Sand Dunes (terrestrial)", "Coastal Sand Dunes & Beach Sand", "Bare Riverbed Material", "Other Bare", "Cultivated Commercial Permanent Orchards", "Cultivated Commercial Permanent Vines", "Cultivated Commercial Sugarcane Pivot Irrigated", "Commercial Permanent Pineapples", "Cultivated Commercial Sugarcane Non-Pivot (all other)", "Cultivated Emerging Farmer Sugarcane Non-Pivot (all other)", "Commercial Annuals Pivot Irrigated", "Commercial Annuals Non-Pivot Irrigated", "Commercial Annuals Crops Rain-Fed / Dryland / Non-Irrigated", "Subsistence / Small-Scale Annual Crops", "Fallow Land & Old Fields (Trees)", "Fallow Land & Old Fields (Bush)", "Fallow Land & Old Fields (Grass)", "Fallow Land & Old Fields (Bare)", "Fallow Land & Old Fields (Low Shrub)", "Residential Formal (Tree)", "Residential Formal (Bush)", "Residential Formal (low veg / grass)", "Residential Formal (Bare)", "Residential Informal (Tree)", "Residential Informal (Bush)", "Residential Informal (low veg / grass)", "Residential Informal (Bare)", "Village Scattered (bare only)", "Village Dense (bare only)", "Smallholdings (Tree)", "Smallholdings (Bush)", "Smallholdings (low veg / grass)", "Smallholdings (Bare)", "Urban Recreational Fields (Tree)", "Urban Recreational Fields (Bush)", "Urban Recreational Fields (Grass)", "Urban Recreational Fields (Bare)", "Commercial", "Industrial", "Roads & Rail (Major Linear)", "Mines: Surface Infrastructure", "Mines: Extraction Sites: Open Cast & Quarries combined", "Mines: Extraction Sites: Salt Mines", "Mines: Waste (Tailings) & Resource Dumps", "Land-fills", "Fallow Land & Old Fields (wetlands)"], "colors": ["#F2F2F2", "#065106", "#005F00", "#008500", "#F74006", "#F9764D", "#F9906C", "#B8ABD1", "#8FAB39", "#AC92C5", "#AC9CDA", "#85D285", "#D2B485", "#00009F", "#041FA7", "#0639AB", "#0D50AC", "#125FAC", "#1373B4", "#1D81B6", "#1F8EB8", "#06DEDC", "#06E0D0", "#9F1FEC", "#ffffe0", "#DCDAC5", "#F9E0E0", "#F9F9C5", "#F9F9A7", "#CDD2E0", "#ffffe0", "#A62C39", "#B31F5C", "#DB0000", "#9F3978", "#FF0000", "#F64D6C", "#381A12", "#521F1C", "#85402C", "#C5735F", "#C1436C", "#C55E82", "#D27592", "#E0AAB8", "#DB90A9", "#ECDB0F", "#F6EC13", "#F9F81F", "#FFFF29", "#EC82EC", "#F691E0", "#F99FCF", "#FFC5CF", "#ECC500", "#FFD91F", "#AC7879", "#B89192", "#C49C9E", "#D2B8B8", "#BFFF00", "#33FF33", "#66FF66", "#99FF99", "#C49F0D", "#8F8506", "#F9DD03", "#FFFF00", "#B30606", "#C50606", "#D21D1A", "#F95479", "#6CE7DC"]}

sanlcd2020 = ee.Image('users/noecareme/SA_NLC_2020_GEO').select('b1').clip(sa22)
#Map.addLayer(sanlcd2020, {'min':1, 'max':73,'palette':dico['colors']}, 'SANLC2020')
#Map

In [11]:
# Collect the training dataset from the SANLC2020.
points = sanlcd2020.sample(**{
    'region': sa22,
    'scale': 20,
    'numPixels': 1000,
    'seed': 0,
    'geometries': True  # Set this to False to ignore geometries
})

Map.addLayer(points, {}, 'training', False)
Map

Map(bottom=311089.0, center=[-31.656303848751083, 18.47831726074219], controls=(WidgetControl(options=['positi…

In [12]:
print(points.size().getInfo())

1000

In [13]:
print(points.first().getInfo())

{'type': 'Feature', 'geometry': {'type': 'Point', 'coordinates': [18.332181050686124, -31.553689335863556]}, 'id': '0', 'properties': {'b1': 33}}

In [14]:
# Select the bands to use for classification.
bands = ['B1_median', 'B2_median', 'B3_median', 'B4_median', 'B5_median', 'B6_median', 'B7_median']

# This property of the table stores the land cover labels.
label = 'b1'

# Overlay the points on the imagery to get training.

sample = landsat_8_2020.select(bands).sampleRegions(**{
  'collection': points,
  'properties': [label],
  'scale': 20
})

# Adds a column of deterministic pseudorandom numbers. 
sample = sample.randomColumn()

split = 0.7

training = sample.filter(ee.Filter.lt('random', split))
validation = sample.filter(ee.Filter.gte('random', split))

In [234]:
print(training.first().getInfo())

In [235]:
validation.first().getInfo()

### Train the classifier

In this examples, we will use random forest classification.

In [15]:
classifier = ee.Classifier.smileRandomForest(5).train(training, label, bands)

In [85]:
classifier = ee.Classifier.smileCart().train(training, label, bands)

In [101]:
classifier = ee.Classifier.libsvm({'kernelType': 'RBF','gamma': 0.5,'cost': 10}).train(training, label, bands)

### Classify the image and display the results

In [102]:
# Classify the image with the same bands used for training.
result = landsat_8_2020.select(bands).classify(classifier)

dico = {"names": ["Contiguous (indigenous) Forest (combined very high, high, medium)", "Contiguous Low Forest & Thicket (combined classes)", "Dense Forest & Woodland (35 - 75% cc)", "Open Woodland (10 - 35% cc)", "Contiguous & Dense Planted Forest (combined classes)", "Open & Sparse Planted Forest", "Temporary Unplanted Forest", "Low Shrubland (other regions)", "Low Shrubland (Fynbos)", "Low Shrubland (Succulent Karoo)", "Low Shrubland (Nama Karoo)", "Sparsely Wooded Grassland (5 - 10% cc)", "Natural Grassland", "Natural Rivers", "Natural Estuaries & Lagoons", "Natural Ocean, Coastal", "Natural Lakes", "Natural Pans (flooded @ obsv time)", "Artificial Dams (incl. canals)", "Artificial Sewage Ponds", "Artificial Flooded Mine Pits", "Herbaceous Wetlands (currently mapped)", "Herbaceous Wetlands (previous mapped extent)", "Mangrove Wetlands", "Natural Rock Surfaces", "Dry Pans", "Eroded Lands", "Sand Dunes (terrestrial)", "Coastal Sand Dunes & Beach Sand", "Bare Riverbed Material", "Other Bare", "Cultivated Commercial Permanent Orchards", "Cultivated Commercial Permanent Vines", "Cultivated Commercial Sugarcane Pivot Irrigated", "Commercial Permanent Pineapples", "Cultivated Commercial Sugarcane Non-Pivot (all other)", "Cultivated Emerging Farmer Sugarcane Non-Pivot (all other)", "Commercial Annuals Pivot Irrigated", "Commercial Annuals Non-Pivot Irrigated", "Commercial Annuals Crops Rain-Fed / Dryland / Non-Irrigated", "Subsistence / Small-Scale Annual Crops", "Fallow Land & Old Fields (Trees)", "Fallow Land & Old Fields (Bush)", "Fallow Land & Old Fields (Grass)", "Fallow Land & Old Fields (Bare)", "Fallow Land & Old Fields (Low Shrub)", "Residential Formal (Tree)", "Residential Formal (Bush)", "Residential Formal (low veg / grass)", "Residential Formal (Bare)", "Residential Informal (Tree)", "Residential Informal (Bush)", "Residential Informal (low veg / grass)", "Residential Informal (Bare)", "Village Scattered (bare only)", "Village Dense (bare only)", "Smallholdings (Tree)", "Smallholdings (Bush)", "Smallholdings (low veg / grass)", "Smallholdings (Bare)", "Urban Recreational Fields (Tree)", "Urban Recreational Fields (Bush)", "Urban Recreational Fields (Grass)", "Urban Recreational Fields (Bare)", "Commercial", "Industrial", "Roads & Rail (Major Linear)", "Mines: Surface Infrastructure", "Mines: Extraction Sites: Open Cast & Quarries combined", "Mines: Extraction Sites: Salt Mines", "Mines: Waste (Tailings) & Resource Dumps", "Land-fills", "Fallow Land & Old Fields (wetlands)"], "colors": ["#F2F2F2", "#065106", "#005F00", "#008500", "#F74006", "#F9764D", "#F9906C", "#B8ABD1", "#8FAB39", "#AC92C5", "#AC9CDA", "#85D285", "#D2B485", "#00009F", "#041FA7", "#0639AB", "#0D50AC", "#125FAC", "#1373B4", "#1D81B6", "#1F8EB8", "#06DEDC", "#06E0D0", "#9F1FEC", "#ffffe0", "#DCDAC5", "#F9E0E0", "#F9F9C5", "#F9F9A7", "#CDD2E0", "#ffffe0", "#A62C39", "#B31F5C", "#DB0000", "#9F3978", "#FF0000", "#F64D6C", "#381A12", "#521F1C", "#85402C", "#C5735F", "#C1436C", "#C55E82", "#D27592", "#E0AAB8", "#DB90A9", "#ECDB0F", "#F6EC13", "#F9F81F", "#FFFF29", "#EC82EC", "#F691E0", "#F99FCF", "#FFC5CF", "#ECC500", "#FFD91F", "#AC7879", "#B89192", "#C49C9E", "#D2B8B8", "#BFFF00", "#33FF33", "#66FF66", "#99FF99", "#C49F0D", "#8F8506", "#F9DD03", "#FFFF00", "#B30606", "#C50606", "#D21D1A", "#F95479", "#6CE7DC"]}

# # Display the clusters with random colors.
Map.addLayer(result, {'min':1, 'max':73,'palette':dico['colors']}, 'classified') #result.randomVisualizer()
Map

EEException: Classifier.libsvm, argument 'decisionProcedure': Invalid type.
Expected type: String.
Actual type: Dictionary<Object>.
Actual value: {cost=10, gamma=0.5, kernelType=RBF}

### Accuracy Assessment

In [87]:
train_accuracy = classifier.confusionMatrix()

In [88]:
import pandas as pd
D = pd.DataFrame(train_accuracy.getInfo())
D.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,16,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# RandomForest()
train_accuracy.accuracy().getInfo()

0.8864942528735632

In [89]:
#CART
train_accuracy.accuracy().getInfo()

1

In [20]:
# RandomForest
train_accuracy.kappa().getInfo()

0.8417899625364708

In [90]:
train_accuracy.kappa().getInfo()

1

In [21]:
# RandomForest
PA = pd.DataFrame(train_accuracy.producersAccuracy().getInfo())
PA.head()

          0
0  0.000000
1  0.000000
2  1.000000
3  1.000000
4  0.833333

In [91]:
#CART
PA = pd.DataFrame(train_accuracy.producersAccuracy().getInfo())
PA.head()

   0
0  0
1  0
2  0
3  1
4  1

In [22]:
# RandomForest
CA = pd.DataFrame(train_accuracy.consumersAccuracy().getInfo())
CA.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,1,1,0.714286,0,0.5,0,0.869048,0.923077,...,0,0,0,0,0,1,1,1,0,0.75

In [92]:
# CART
CA = pd.DataFrame(train_accuracy.consumersAccuracy().getInfo())
CA.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,1,1,0,0,0,1,1,...,0,0,0,0,0,1,1,1,0,1

#### Validation dataset

In [23]:
# RandomForest
validated = validation.classify(classifier)

In [93]:
# CART
validated = validation.classify(classifier)

In [24]:
# RandomForest
validation_accuracy = validated.errorMatrix('b1', 'classification')

In [94]:
# CART
validation_accuracy = validated.errorMatrix('b1', 'classification')

In [25]:
# RandomForest
VA = pd.DataFrame(validation_accuracy.getInfo())
VA.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
# CART
VA = pd.DataFrame(validation_accuracy.getInfo())
VA.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,2,0,0,0,2,0,...,0,0,0,0,0,0,0,1,0,0

In [26]:
# RandomForest
validation_accuracy.accuracy().getInfo()

0.5822368421052632

In [96]:
# CART
validation_accuracy.accuracy().getInfo()

0.5092592592592593

In [27]:
# RandomForest
validation_accuracy.kappa().getInfo()

0.4234427967683646

In [97]:
# CART
validation_accuracy.kappa().getInfo()

0.34621046753642326

In [28]:
# RandomForest
VPA = validation_accuracy.producersAccuracy().getInfo()
pd.DataFrame(VPA).head()

      0
0  0.00
1  0.00
2  0.00
3  0.00
4  0.25

In [98]:
# CART
VPA = validation_accuracy.producersAccuracy().getInfo()
pd.DataFrame(VPA).head()

          0
0  0.000000
1  0.000000
2  0.000000
3  0.333333
4  0.200000

In [29]:
# RandomForest
VCA = pd.DataFrame(validation_accuracy.consumersAccuracy().getInfo())
pd.DataFrame(VCA).head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,0,0.222222,0,0,0,0.302326,0.666667,...,0,0,0,0,0,0,0,0,0,0

In [100]:
# CART
VCA = pd.DataFrame(validation_accuracy.consumersAccuracy().getInfo())
pd.DataFrame(VCA).head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,0.333333,0.222222,0,0,0,0.378378,0.222222,...,0,0,0,0,0,0,0,0.25,0,0

## Features engineering
This section consists of adding more information to the image, in order to help the classifier, perform more accurate classification.

In [51]:
alos = ee.Image("JAXA/ALOS/AW3D30/V2_2")
def addIndices(image):
    #ndvi = image.normalizedDifference(['B5_median', 'B4_median']).rename(['ndvi'])
    ndbi = image.normalizedDifference(['B6_median', 'B5_median']).rename(['ndbi'])
    mndwi = image.normalizedDifference(['B3_median', 'B6_median']).rename(['mndwi']) 
    bsi = image.expression(
      '(( X + Y ) - (NIR + B)) /(( X + Y ) + (NIR + B)) ', {
        'X': image.select('B6_median'), #swir1
        'Y': image.select('B4_median'),  #red
        'NIR': image.select('B5_median'), # nir
        'B': image.select('B2_median'), # blue
  }).rename('bsi')
    savi = image.expression(
  '(2 * NIR + 1 - sqrt(pow((2 * NIR + 1), 2) - 8 * (NIR - RED)) ) / 2', 
  {'NIR': image.select('B5_median'),'RED': image.select('B4_median')}).rename('savi')
    return image.addBands(ndbi).addBands(mndwi).addBands(bsi).addBands(savi)

landsat_8_2020 = addIndices(landsat_8_2020)

elev = alos.select('AVE_DSM').divide(2000).rename('elev')
slope = ee.Terrain.slope(alos.select('AVE_DSM')).divide(30).rename('slope')
landsat_8_2020 = landsat_8_2020.addBands(elev).addBands(slope)

In [52]:
### Split the 1000 points into training and testing
# Use these bands for prediction.
bands = ['B1_median', 'B2_median', 'B3_median', 'B4_median', 'B5_median', 'B6_median', 'B7_median']

# This property of the table stores the land cover labels.
label = 'b1'

# Overlay the points on the imagery to get training.
sample = landsat_8_2020.select(bands).sampleRegions(**{
  'collection': points,
  'properties': [label],
  'scale': 20
})

# Adds a column of deterministic pseudorandom numbers. 
sample = sample.randomColumn()

split = 0.7

training = sample.filter(ee.Filter.lt('random', split))
validation = sample.filter(ee.Filter.gte('random', split))

In [53]:
classifier = ee.Classifier.smileRandomForest(5).train(training, label, bands)

In [54]:
# Classify the image with the same bands used for training.
result = landsat_8_2020.select(bands).classify(classifier)

# # Display the clusters with random colors.
Map.addLayer(result, {'min':1, 'max':73,'palette':dico['colors']}, 'classified') #result.randomVisualizer()
Map

Map(bottom=311018.0, center=[-31.61479646074631, 18.42819213867188], controls=(WidgetControl(options=['positio…

In [55]:
train_accuracy = classifier.confusionMatrix()

In [56]:
import pandas as pd
D = pd.DataFrame(train_accuracy.getInfo())
D.head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,19,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
train_accuracy.accuracy().getInfo()

0.8944365192582026

In [58]:
train_accuracy.kappa().getInfo()

0.8566454244482641

In [60]:
validated = validation.classify(classifier)

In [61]:
validation_accuracy = validated.errorMatrix('b1', 'classification')

In [62]:
validation_accuracy.accuracy().getInfo()

0.5551839464882943

In [63]:
validation_accuracy.kappa().getInfo()

0.36480529022777364

### Test the model on SANLC 2018

In [64]:
# Add landsat8 TOA to the ROI
dataset = ee.ImageCollection("LANDSAT/LC08/C01/T1_TOA").filterBounds(sa22).filterDate('2018-01-01','2018-12-31').filterMetadata('CLOUD_COVER','less_than',70)
rgbVis  = {
  'min': 0.0,
  'max': 0.3,
  'gamma':1.4,
  'bands': ['B4_median', 'B3_median', 'B2_median'],
}
# ///////////////// Use Median Band in parameters///////////////////////

median = dataset.reduce(ee.Reducer.median())

# ////////////////Mosaic these two image collections///////////////////

mosaic_1 = ee.ImageCollection.fromImages([median]).mosaic()

# ////////////////////////Clip by assets or roi////////////////////////

landsat_8_2018 = mosaic_1.clip(sa22)

# /////////////// Display the clipped ImageCollection/////////////////

Map.addLayer(landsat_8_2018, rgbVis, 'landsat_roi18')
#Map

In [66]:
sanlcd2018 = ee.Image('projects/sat-io/open-datasets/landcover/SA_NLC_2018').select('b1').clip(sa22)

# Make the training dataset.
points1 = sanlcd2018.sample(**{
    'region': sa22,
    'scale': 20,
    'numPixels': 800,
    'seed': 0,
    'geometries': True  # Set this to False to ignore geometries
})

In [67]:
### Split the 1000 points into training and testing
# Use these bands for prediction.
bands = ['B1_median', 'B2_median', 'B3_median', 'B4_median', 'B5_median', 'B6_median', 'B7_median']

# This property of the table stores the land cover labels.
label = 'b1'

# Overlay the points on the imagery to get training.
sample1 = landsat_8_2018.select(bands).sampleRegions(**{
  'collection': points1,
  'properties': [label],
  'scale': 20
})

In [68]:
test18 = sample1.classify(classifier)

In [69]:
test_accuracy18 = test18.errorMatrix('b1', 'classification')

In [70]:
T18 = pd.DataFrame(test_accuracy18.getInfo())
pd.DataFrame(T18).head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,8,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
test_accuracy18.accuracy().getInfo()

0.5425

In [72]:
test_accuracy18.kappa().getInfo()

0.3657299196547907

In [74]:
TPA = test_accuracy18.producersAccuracy().getInfo()
pd.DataFrame(TPA).head(20)

           0
0   0.000000
1   0.000000
2   0.000000
3   0.200000
4   0.444444
5   0.000000
6   0.000000
7   0.000000
8   0.551724
9   0.000000
10  0.796657
11  0.000000
12  0.000000
13  0.017857
14  0.000000
15  0.000000
16  0.000000
17  0.000000
18  0.000000
19  0.000000

In [75]:
TCA = pd.DataFrame(test_accuracy18.consumersAccuracy().getInfo())
pd.DataFrame(TCA).head()

,0,1,2,3,4,5,6,7,8,9,...,60,61,62,63,64,65,66,67,68,69
0,0,0,0,0.2,0.275862,0,0,0,0.338028,0,...,0,0,0,0,0,0,0,0.2,0,0.25

In [ ]:
## Use the field data collected in 2018 for testing the model, in order to avoid the misclassification present in the SANLC 2018.

## Apply the model to the image to classify

In [76]:
# Classify the image with the same bands used for training.
result1 = landsat_8_2021.select(bands).classify(classifier)

# # Display the clusters with random colors.
Map.addLayer(result1, {'min':1, 'max':73,'palette':dico['colors']}, 'classified_2021') #result.randomVisualizer()
Map

Map(bottom=311018.0, center=[-31.61479646074631, 18.42819213867188], controls=(WidgetControl(options=['positio…

In [83]:
geemap.ee_export_image_to_drive(result1, description='sanlc2021', folder='export', region=sa22.geometry(), scale=20)

Exporting sanlc2021 ...

## Hyperparameter optimization
This section consists of finding the best number of trees, that leads to the highest accuracy in the random forest.

In [274]:
#####/Classify the test FeatureCollection.#####*

validation_2020 = validation.classify(classifier)

# Tune the numberOfTrees parameter.
numTreesList = ee.List.sequence(10, 350, 10)

############ Functions to loop through the number of trees ##########/

def accuracies_2020(numTrees):
    classifier_2020 = ee.Classifier.smileRandomForest(numTrees).train(training, label, bands)
    # Here we are classifying a table instead of an image
    # Classifiers work on both images and tables
    return validation.classify(classifier_2020).errorMatrix(label, 'classification').accuracy(),sample1.classify(classifier_2020).errorMatrix(label, 'classification').accuracy()

T = [accuracies_2020(numTrees) for numTrees in numTreesList.getInfo()]
t = []
for i in range(len(T)):
    t.append(T[i][0].getInfo())
r = pd.DataFrame(t)

t1 = []
for i in range(len(T)):
    t1.append(T[i][1].getInfo())
r1 = pd.DataFrame(t1)

import matplotlib.pyplot as plt
import numpy as np

fig, ax = plt.subplots(figsize=(12, 6))

x = numTreesList.getInfo()
y = r[0]
z = r1[0]
ax.plot(x,y, color='blue',label="Validation SANLC 2020")
ax.plot(x,z, color='black',label="Test SANLC 2018")
plt.xlabel("NumTrees")
plt.ylabel("Accuracy")
plt.legend(loc="lower right")
plt.show()

## Best model

In [275]:
classifier = ee.Classifier.smileRandomForest(50).train(training, label, bands)

In [276]:
# Classify the image with the same bands used for training.
result = landsat_8_2020.select(bands).classify(classifier)

# # Display the clusters with random colors.
Map.addLayer(result, {'min':1, 'max':73,'palette':dico['colors']}, 'Best_classified_2020') #result.randomVisualizer()
Map

In [277]:
train_accuracy = classifier.confusionMatrix()

In [278]:
import pandas as pd
D = pd.DataFrame(train_accuracy.getInfo())
D.head()

In [279]:
train_accuracy.accuracy().getInfo()

In [280]:
train_accuracy.kappa().getInfo()

In [ ]:
validated = validation.classify(classifier)
validation_accuracy.accuracy().getInfo()
validation_accuracy = validated.errorMatrix('b1', 'classification')
validation_accuracy.kappa().getInfo()

In [ ]:
test18 = sample1.classify(classifier)
test_accuracy18 = test18.errorMatrix('b1', 'classification')
T18 = pd.DataFrame(test_accuracy18.getInfo())
pd.DataFrame(T18).head()
test_accuracy18.accuracy().getInfo()
test_accuracy18.kappa().getInfo()
TPA = test_accuracy18.producersAccuracy().getInfo()
pd.DataFrame(TPA).head()
TCA = pd.DataFrame(test_accuracy18.consumersAccuracy().getInfo())
pd.DataFrame(TCA).head()

In [ ]:
## Contribution of each bands

In [ ]:
print(classifier.explain())